@media (max-width: 1750px) {
  .header {
    z-index: 99;
  }
}

@media (max-width: 1500px) {
  .header-nav {
    padding-left: 80px;
    z-index: 99;
  }

  .preview-content {
    padding-left: 80px;
  }

  .preview-title {
    max-width: 560px;
    padding-top: 100px;
    margin-bottom: 30px;
    font-size: 60px;
    line-height: 120%;
  }

  .preview-subtitle {
    font-size: 40px;
    margin-bottom: 27px;
  }

  .preview-img {
    width: 625px;
  }

  .logo {
    padding-right: 100px;
  }

  .preview-price {
    gap: 20px;
    margin-bottom: 30px;
  }
}

@media (max-width: 1300px) {
  .form-wrapper {
    flex-direction: column;
    padding-left: 0;
    margin: 0 auto;
    height: auto;
  }

  .photo-girl {
    display: none;
  }

  .img-4 {
    width: 100%;
  }

  .img-box {
    border-radius: 0;
  }

  .form {
    display: block;
    margin: 0 auto;
    margin-bottom: 50px;
    width: 781px;
  }

  .form-button {
    width: 781px;
    margin-right: 0;
  }

  .form-input {
    margin-right: 0;
  }

  .advantages-wrapper {
    flex-direction: column;
    gap: 25px;
  }

  .advantages-img_box {
    text-align: center;
  }

  /* .advantages-text {
    font-size: 17px;
  } */

  .advantages-icon {
    width: 45px;
    height: 35px;
  }

  .list-item {
    gap: 9px;
    padding: 14px 0;
  }
}

@media (max-width: 1200px) {
  .preview-title {
    max-width: 530px;
    padding-top: 80px;
    margin-bottom: 14px;
    font-size: 50px;
  }

  .preview-subtitle {
    font-size: 33px;
    margin-bottom: 17px;
  }
  .preview-img {
    width: 525px;
  }

  .preview-content {
    padding-left: 27px;
  }
}

@media (max-width: 1000px) {
  .preview-wrapper {
    flex-direction: column;
  }

  .preview-img {
    margin: 0 auto;
  }

  .preview-button {
    padding: 14px 26px;
    width: 160px;
    height: 64px;
  }

  .preview-title {
    font-size: 36px;
  }

  .price-text span {
    font-size: 32px;
  }

  .form {
    width: 500px;
  }

  .form-button {
    width: 500px;
  }

  .header-menu__item {
    display: none;
  }

  .burger-menu {
    display: block;
  }
}

@media (max-width: 768px) {
  .preview-container {
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 115px;
  }

  .preview-img {
    width: 480px;
  }

  .preview-title {
    font-size: 45px;
  }

  section {
    margin-bottom: 50px;
  }

  .advantages-button {
    border-radius: 4px;
    padding: 32px 50px;
    width: 191px;
    height: 96px;
    background: #fff;
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    text-align: center;
    color: #222;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .form {
    width: 280px;
  }

  .form-button {
    width: 280px;
  }

  .form-title {
    font-size: 26px;
    margin-bottom: 15px;
  }

  .futer-social {
    flex-direction: column;
  }

  .copyright {
    display: none;
  }

  .social-text {
    display: none;
  }

  .futer-menu {
    gap: 25px;
  }
}

@media (max-width: 500px) {
  .futer-nav {
    display: none;
  }
}

@media (max-width: 420px) {
  .preview-content {
    padding-left: 0px;
  }

  .price-text span {
    font-size: 25px;
  }

  .price-text {
    font-size: 18px;
  }

  .header-nav {
    padding-left: 40px;
  }

  .preview-title {
    font-size: 37px;
  }

  .preview-subtitle {
    font-size: 25px;
  }

  .form {
    width: 280px;
  }

  .form-button {
    width: 280px;
  }

  .social-list {
    gap: 15px;
  }
}
